html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(135, 238, 200);

}
canvas {
  height: 100vh;
  width: 100vw;
}

h2 {
    text-align: center;
    font-family: 'Monotype Corsiva', cursive;
    font-size: 20px;
    background: -webkit-radial-gradient( #f15060, white,#f15060);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}